<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="sessionFactory">
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<mapping resource="pioneer/com/Entity/PUsers.hbm.xml"/>
		<mapping resource="pioneer/com/Entity/PMoods.hbm.xml"/>
		<mapping resource="pioneer/com/Entity/PClickmoods.hbm.xml"/>
    </session-factory> 
</hibernate-configuration>
