@charset "utf-8";
/* CSS Document */
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, a, span {border:0 none;margin:0;padding:0;}
.clear{ clear:both;}
ul,li{ list-style-type:none;}
a:link, a:visited {color:#000; outline:none;-moz-outline:none; }
a:hover, a:active {color:#f54c4c; outline:none;-moz-outline:none;}
.bank5{width:100%; height:5px; display:block; clear:both; font-size:0;}
.bank10{width:100%; height:10px; display:block; clear:both; font-size:0;}
.bank20{width:100%; height:20px; display:block; clear:both; font-size:0;}
.bank-head{width:100%; height:10px; clear:both; text-align: right; }
body{ font-size:14px; overflow-y:scroll;}
body a{ text-decoration:none;}
table { border-collapse: collapse; border-spacing: 0;}
a:focus { outline:none;-moz-outline:none;}
a { outline:none;-moz-outline:none;}
/*导航*/
.nav{ height:25px; line-height:25px; padding:20px 0 35px; }
.nav a:link,.nav a:visited {color:#000000; padding-right:5px; height:25px; line-height:25px; display:inline-block; }
.nav a:hover,.nav a:active {color:#f54c4c;}
/*-----------公共样式 end------------*/
div a:hover{ 
	color: #adadad;
	
}
.containter{ width:1000px; height:auto; margin:0 auto; position:relative;}
.top_banner{ width:100%; height:95px;}
.content{ width:100%; height:auto; margin:0 auto;}
.left{ float:left; width:288px; height:auto; }
.logo{ width:100%; height:120px;}
.login_box{ width:270px; height:auto; margin-top:5px;}
.login_box .login_tab{ width:100%; height:25px; line-height:25px; font-size:16px; font-weight:600; color:#484747;}
.login_box .login_tab a:link,.login_box .login_tab a:visited {color:#484747; height:25px; line-height:25px; display:inline-block; padding:0 5px; }
.login_box .login_tab a:hover,.login_box .login_tab a:active {color:#f54c4c; text-decoration: none;}
.login_box .login_tab a.cur {color:#f54c4c; border-bottom:1px solid #f54c4c;}
.login_box .login_tab_display{}
.login_box .login_tab_display .login_tab_content{ width:100%; height:auto; display:none;}
.login_box .login_tab_display .login_tab_content input{ width:260px; height:20px; line-height:20px; padding: 9px 5px; color:#adadad; border:1px solid #adadad; margin-top:10px;}
.login_box .login_tab_display .login_tab_content .login_fot{ width:100%; height:25px; line-height:25px; position:relative; color:#484747;}
.login_box .login_tab_display .login_tab_content .login_fot .login_fot_forget{ line-height:25px;}
.login_box .login_tab_display .login_tab_content .login_fot .login_fot_forget a:link,.login_box .login_tab_display .login_tab_content .login_fot .login_fot_forget a:visited {color:#484747; }
.login_box .login_tab_display .login_tab_content .login_fot .login_fot_forget a:hover,.login_box .login_tab_display .login_tab_content .login_fot .login_fot_forget a:active {color:#f54c4c;}
.login_box .login_tab_display .login_tab_content .login_fot #login_fot_remind{ position:absolute; top:0; right:0; line-height:25px; padding-left:25px; background:url(../images/select_icon.png) no-repeat 0 4px; cursor:pointer;}
.login_box .login_tab_display .login_tab_content .login_fot #login_fot_remind.cur{ background:url(../images/selected_icon.png) no-repeat 0 4px;}
.login_box .login_tab_display .login_tab_content .login_btn{ width:100%; height:38px; font-size:16px; font-weight:600;}
.login_box .login_tab_display .login_tab_content .login_btn a:link,.login_box .login_tab_display .login_tab_content .login_btn a:visited {color:#fff; width:100%; height:38px; line-height:38px; display:inline-block; text-align:center; background:#f54c4c; }
.login_box .login_tab_display .login_tab_content .login_btn a:hover,.login_box .login_tab_display .login_tab_content .login_btn a:active {color:#fff; background:#e94545;}
.login_other_login{ padding:10px; overflow:hidden;}
.login_other_login h2{ font-size:16px; line-height:25px;}
.login_other_login ul{}
.login_other_login ul li{ width:40px; height:40px; float:left; margin:10px 15px 0 0; display:inline;}
.code_box{ width:108px; height:42px; float:left; margin:10px 0 0 10px; display:inline;}
.code_box img{ width:108px; height:42px;}
.left_search_bg{ width:270px; height:34px; border-bottom:2px solid #adadad; position:relative; margin-top:10px;}
.left_search_bg input{ height:24px; line-height:24px; padding:5px; width:230px; font-size:14px; color:#adadad; border:0 none; background:0 none;}
.left_search_bg .search_btn{ width:34px; height:34px; position:absolute; top:0; right:0;}
.left_search_bg .search_btn a:link,.left_search_bg .search_btn a:visited { width:34px; height:34px; display:inline-block; background:url(../images/search_icon.png) no-repeat;}
.left_search_bg .search_btn a:hover,.left_search_bg .search_btn a:active { background:url(../images/search_icon.png) no-repeat 0 -34px;}

.left_label{ width:270px; height:auto; float:left;}
.left_label ul{ width:282px;}
.left_label ul li{ float:left; width:86px; height:86px; margin:6px 6px 0 0; display:inline; font-family:"黑体"; position:relative;}
.left_label ul li a:link,.left_label ul li a:visited {color:#414141; font-size:20px; width:86px; height:86px; line-height:84px; text-align:center; background:#ececec; display:inline-block; border-radius:5px; position:absolute; top:0; left:0; }
.left_label ul li a:hover,.left_label ul li a:active {color:#fff; background:#f54c4c; width:92px; height:92px; line-height:90px; top:-3px; left:-3px; transition:100ms;}
.left_label ul li a.left_label_cur {color:#fff; background:#f54c4c;}
.left_label ul li.last{}
.left_label ul li.last a:link,.left_label ul li.last a:visited {color:#414141; font-size:20px; padding:15px 0; width:86px; height:56px !important; line-height:28px !important; text-align:center; background:#ececec;position:absolute; top:0; left:0; display:inline-block; border-radius:5px; }
.left_label ul li.last a:hover,.left_label ul li.last a:active {color:#fff; background:#f54c4c; width:92px;  height:62px !important; top:-3px; left:-3px; transition:100ms;}
.left_label ul li.last a.left_label_cur {color:#fff; background:#f54c4c;}
.top_sort{ width:270px; height:auto;}
.top_sort_title{ width:100%; height:48px; background:#f0f0f0; line-height:48px; text-align:center; color:#626262; font-size:20px; font-family:"黑体";}
.top_sort_title font{ color:#f54c4c}
.top_sort_tab{ width:270px; height:47px; background:url(../images/top_sort_bg.png) repeat-x; overflow:hidden;}
.top_sort_tab ul{ width:291px;}
.top_sort_tab ul li{ float:left; height:44px; font-family:"黑体"; line-height:44px; background:#f7f7f7; border-top:3px solid #e3e3e3; text-align:center; color:#484747; font-size:16px; font-weight:600; cursor:pointer;}
.top_sort_tab ul li.cur{ background:#fff; border-top:3px solid #f54c4c; font-family:"黑体";}
.top_sort_tab ul li a:link,.top_sort_tab ul li a:visited {color:#484747; }
.top_sort_tab ul li a:hover,.top_sort_tab ul li a:active {color:#f54c4c;}
.top_sort_list{ width:270px; height:auto;}
.top_sort_list ul{}
.top_sort_list ul li{ font-size:14px; width:235px; height:auto; border-bottom:1px dashed #dcdcdc; padding:5px 0 5px 35px; position:relative;}
.top_sort_list ul li a:link,.top_sort_list ul li a:visited {color:#434343; line-height:20px; white-space:normal; word-break:break-all; }
.top_sort_list ul li a:hover,.top_sort_list ul li a:active {color:#f54c4c;}
.sort_num_icon_red{ valign:center;width:20px; height:20px; position:absolute; top:5px; left:1px; background:#f54c4c; text-align:center; line-height:20px; color:#fff; font-size:16px; font-weight:600;}
.sort_num_icon_gray{ width:20px; heixght:20px; position:absolute; top:5px; left:1px; background:#bebebe; text-align:center; line-height:20px; color:#fff; font-size:16px; font-weight:600;}
.only_one{ top:5px !important;}
.gt_second{top:14px !important;}
.left_adv_box{ position:relative; z-index:1000; top:0; }
.left_adv_pic{ width:290px; height:auto;}
.right{ float:right; width:685px; height:auto; border-left:1px solid #dfdfdf; padding-left:16px;}
.menu{ width:685px; height:38px; border-bottom:3px solid #f54c4c; position:relative; z-index:1000; background:#fff; top:0; }
.menu ul{ float:left; width:400px; height:38px; overflow:hidden; white-space:nowrap;}
.menu ul li{ float:left; height:38px; line-height:38px; white-space:nowrap; }
.menu ul li a{ white-space:nowrap; color:#484747; font-family:"黑体"; font-size:18px; display:inline-block; height:38px; line-height:38px; width:72px; padding:0 22px; background:url(../images/menu_line.png) no-repeat right 15px; }
.menu ul li a:link { white-space:nowrap; color:#484747; font-family:"黑体"; font-size:18px; display:inline-block; height:38px; line-height:38px; width:72px; padding:0 22px; background:url(../images/menu_line.png) no-repeat right 15px; }
.menu ul li a:visited { white-space:nowrap; color:#484747; font-family:"黑体"; font-size:18px; display:inline-block; height:38px; line-height:38px; width:72px; padding:0 22px; background:url(../images/menu_line.png) no-repeat right 15px; }
.menu ul li a:hover {color:#fff; background:#FFA500;}
.menu ul li a.cur {color:#fff; background:#f54c4c;}
.menu ul li a.cur_left { background:0 none;}
.menu_more{ float:left; margin-left:10px; display:inline;}
.menu_more a:link,.menu_more a:visited {color:#484747; height:38px; line-height:38px; font-family:"黑体"; font-size:18px; display:inline-block; padding:0 10px 0 30px; background:url(../images/menu_more_icon.png) no-repeat 5px 12px; }
.menu_more a:hover,.menu_more a:active {color:#fff; background:url(../images/menu_more_icon_press.png) no-repeat 5px 12px #f54c4c;}
.menu_more a.cur{color:#fff; background:url(../images/menu_more_icon_press.png) no-repeat 5px 12px #f54c4c;}
.menu_order_btn{ width:86px; height:34px; position:absolute; top:0; right:0; font-size:16px; font-weight:600;}
.menu_order_btn a:link,.menu_order_btn a:visited {color:#fff; padding-left:34px; width:52px; height:34px; background:url(../images/order_btn.png) no-repeat; line-height:34px; display:inline-block; }
.menu_order_btn a:hover,.menu_order_btn a:active {color:#fff; background:url(../images/order_btn.png) no-repeat;}
.menu_read_btn{ width:86px; height:34px; position:absolute; top:0; right:91px; font-size:16px; font-weight:600;}
.menu_read_btn a:link,.menu_read_btn a:visited {color:#fff; padding-left:34px; width:52px; height:34px; background:url(../images/read_btn.png) no-repeat; line-height:34px; display:inline-block; }
.menu_read_btn a:hover,.menu_read_btn a:active {color:#fff; background:url(../images/read_btn.png) no-repeat;}
.scorll_pic_box{ width:683px; height:557px; border:1px solid #eee; background:#eeeeee; position:relative;}
.scroll_label{ position:absolute; top:519px; left:-7px; z-index:100; font-family:"黑体"; text-align:center; width:70px; height:36px; line-height:30px; color:#fff; font-size:20px; font-family:"Mircosoft Yahei"; background:url(../images/scroll_label.png) no-repeat;}
.right_item{ width:100%; height:auto; padding:20px 0; border-bottom:1px solid #dcdcdc;}
.right_item_pic{ width:210px; height:166px; overflow:hidden; float:left;}
.right_item_content{ float:right; height:166px; width:455px; position:relative;}
.right_item_content.one{  height:90px !important;}/*一行*/
.right_item_content.two{ height:110px !important;}/*两行*/
.right_item_content h2{ font-family:"黑体"; font-size:24px; line-height:30px; font-weight:normal;}
.right_item_content p{ font-size:14px; color:#434343; height:72px; line-height:1.5em; overflow:hidden; padding-top:6px;}
.right_item_footer{ width:100%; height:25px; line-height:25px; position:absolute; bottom:0px;right:0;}
.right_item_footer label{ width:42px; height:20px; background:#f54c4c; line-height:20px; text-align:center; font-size:14px; margin-right:20px; margin-top:5px; font-family:"黑体"; color:#fff; display:inline-block; float:left;}
.right_item_footer label.four{ width:70px;}
.right_item_footer label.gray_bg{ background:#bebebe !important; }
.right_item_footer font{ line-height:20px; font-size:14px; color:#434343; margin-top:5px; display:inline-block; float:left;}
.right_item_footer .share_box{ position:absolute; top:0; right:0;}
.right_item_footer .share_box a{ float:left; margin-left:10px; display:inline-block;}
/*组图*/
.group_pic{ width:100%; height:auto; margin-top:20px; overflow:hidden; position:relative; padding-bottom:40px;}
.group_pic ul{ width:720px; height:auto;}
.group_pic ul li{ float:left; width:160px; height:124px; margin-right:15px; display:inline; clear:none !important;}
.group_pic_name{ width:100%; height:30px; line-height:30px; margin-top:20px; font-size:24px; font-family:"黑体"; color:#1f1e1e;}
/*右侧广告*/
.right_adv{ width:100%; height:auto;}
/*文件尾*/
.footer{ width:1000px; height:50px; margin:0 auto; background:#f54c4c; text-align:center; color:#fff; padding:15px 0; line-height:25px; font-size:16px; font-weight:600;}
.footer a:link,.footer a:visited {color:#fff; padding:0 10px; display:inline-block; }
.footer a:hover,.footer a:active {color:#fff;}
/*新闻详情页*/
.news_detail_content{ width:100%; height:auto; overflow:hidden;}
.news_detail_content .imgbox{ text-align:center;}
.news_detail_content p{ color:#434343; line-height:25px;}
.news_detail_content p a:link{color:#535353; }
.news_detail_content p a:visited{color:#551a8b; }
.news_detail_content p a:hover,.news_detail_content p a:active {color:#00e;}
/*.news_detail_content p img{ width:100%;} kangbaoxing 20150626*/
/*评论*/
.comment{ height:auto; border-top:1px solid #dcdcdc; padding:0 20px; margin-top:20px;}
.comment_user_pic{ width:47px; height:47px; float:left; margin-right:20px; display:inline; margin-top:10px;}
.comment_user_pic img{ width:47px; height:47px; border-radius:24px;}
.comment_textarea{ margin-top:10px; width:556px; height:100px; border:1px solid #dcdcdc; padding:10px; background:#fff; float:left; font-size:14px; color:#777;}
.comment_fot{ height:28px; width:100%; position:relative;}
.comment_submit_btn{ float:right; height:26px; line-height:26px;}
.comment_submit_btn a:link,.comment_submit_btn a:visited {color:#fff; padding:0 15px; display:inline-block; background:#f65c5c; height:26px; line-height:26px; }
.comment_submit_btn a:hover,.comment_submit_btn a:active {color:#fff; background:#f44f4f;}
.comment_blow_box{ float:right;; margin-right:10px; display:inline-block; position:relative; z-index:5;}
.comment_blow_box .comment_smile_icon{ width:28px; height:28px; cursor:pointer;}
.comment_blow_box .comment_smile_icon img{ width:28px; height:28px;}
.comment_blow_box .comment_blow_show{ width:290px; height:auto; position:absolute; top:27px; right:0; z-index:100; display:none;}
.comment_blow_box .comment_blow_show table{ width:100%; height:auto; border:1px solid #d3d3d3; background:#fff; }
.comment_blow_box .comment_blow_show table tr{ width:100%; height:28px;}
.comment_blow_box .comment_blow_show table tr td{ width:28px; height:28px; border-bottom:1px solid #d3d3d3; border-right:1px solid #d3d3d3;}
.comment_blow_box .comment_blow_show table tr td img{ width:28px; height:28px;}
.comment_blow_close_btn{ width:28px; height:25px; position:absolute; top:0; right:-25px; cursor:pointer;}
.comment_blow_close_btn img{ width:28px; height:25px;}

/**新增表情class**/
.comment_blow_box2 .comment_smile_box{ float:right;; margin-right:10px; display:inline-block; position:relative; z-index:5;}
.comment_blow_box2 .comment_smile_box .comment_smile_icon{ width:28px; height:28px; cursor:pointer; float:right;}
.comment_blow_box2 .comment_smile_box .comment_smile_icon img{ width:28px; height:28px;}
.comment_blow_box2 .comment_blow_show { width:290px; height:auto; position:absolute; top:24px; right:0px; z-index:100; display:block;}
.comment_blow_box2 .comment_blow_show table{ width:100%; height:auto; border:1px solid #d3d3d3; background:#fff; }
.comment_blow_box2 .comment_blow_show table tr{ width:100%; height:28px;}
.comment_blow_box2 .comment_blow_show table tr td{ width:28px; height:28px; border-bottom:1px solid #d3d3d3; border-right:1px solid #d3d3d3;}
.comment_blow_box2 .comment_blow_show table tr td img{ width:28px; height:28px;}
.comment_blow_box2 .comment_smile_close_btn{ width:28px; height:25px; position:absolute; top:8px; right:-25px; cursor:pointer;}
.comment_blow_box2 .comment_smile_close_btn img{ width:28px; height:25px;}
/**新增表情class**/
.comment_list{ width:100%; height:auto;}
.comment_list ul{}
.comment_list ul li{ width:100%; height:auto; padding:20px 0; border-bottom:1px dashed #d3d3d3; float:left;}
.comment_list_user{ width:47px; height:47px; float:left; margin-right:10px; display:inline;}
.comment_list_user img{ width:47px; height:47px; border-radius:24px;}
.comment_list_ri{ float:left; width:603px;}
.comment_list_ri .comment_txt{ color:#777; line-height:25px;}
.comment_list_ri .comment_txt a:link,.comment_list_ri .comment_txt a:visited {color:#000; display:inline-block; line-height:25px; }
.comment_list_ri .comment_txt a:hover,.comment_list_ri .comment_txt a:active {color:#f54c4c;}
.comment_list_ri .comment_fot{ width:100%; height:20px; line-height:20px; position:relative;}
.comment_list_ri .comment_fot .comment_date{ font-size:12px; color:#bbb;}
.comment_list_ri .comment_fot .comment_fot_btn{ position:absolute; top:0; right:0 !important; display:none;}
.comment_list_ri .comment_fot .comment_fot_btn span{ float:left; display:inline-block; margin-left:10px; color:#bbb;}
.comment_list_ri .comment_fot .comment_fot_btn span a:link,.comment_list_ri .comment_fot .comment_fot_btn span a:visited {color:#bbb; height:18px; line-height:18px; font-size:12px; border:1px solid #bbb; border-radius:8px; padding:0 10px; display:inline-block; }
.comment_list_ri .comment_fot .comment_fot_btn span a:hover,.comment_list_ri .comment_fot .comment_fot_btn span a:active {color:#f54c4c; border:1px solid #f54c4c;}
/*登录成功*/
.user_box{ width:200px; height:auto; padding-left:70px; position:relative;}
.user_box_phone{ width:64px; height:64px; position:absolute; top:0; left:0;}
.user_box_phone img{ width:64px; height:64px; border-radius:32px;}
.user_box h2{ height:40px; line-height:40px; font-size:15px; color:#484747; position:relative;}
.user_box h2 span{ width:118px; height:40px; overflow:hidden; display:inline-block;  white-space: nowrap; text-overflow: ellipsis;}
.user_box h2 a:link,.user_box h2 a:visited {color:#989898; display:inline-block; line-height:16px; font-size:12px; height:16px; border:1px solid #989898; border-radius:10px; padding:0 10px; position:absolute; top:10px; right:30px; font-weight:normal; }
.user_box h2 a:hover,.user_box h2 a:active {color:#f74d49; border:1px solid #f74d49;}
.user_box h2 .red_num{ position:absolute; top:5px; right:10px; padding:0 6px; height:16px; line-height:16px; color:#fff; font-size:12px; background:#f74d49; border-radius:8px; }
.user_box .quit{ line-height:30px;}
.user_box .quit a:link,.user_box .quit a:visited {color:#989898; font-weight:600; }
.user_box .quit a:hover,.user_box .quit a:active {color:#f54c4c;}
/*活动页*/
.active_nav{ width:100%; height:40px; background:#f0f0f0;}
.active_nav font{ background:#f54c4c; height:40px; line-height:40px; padding:0 20px; color:#fff; font-family:"黑体"; font-size:18px; display:inline-block;}
.active_list{}
.active_list ul{}
.active_list ul li{ margin-top:20px; width:683px; height:auto; border:1px solid #eee; background:#eee; font-family:"黑体";}
.active_list ul li .active_list_pic{ width:683px; height:298px; overflow:hidden;}
.active_list ul li .active_list_pic img{  width:683px; height:298px;}
.active_list ul li .active_fot{ width:100%; height:50px; position:relative;}
.active_list ul li .active_fot .active_txt{ padding:10px 20px 10px 100px; line-height:30px; font-size:24px;  color:#1f1e1e;}
.active_list ul li .active_fot .active_label{ width:100px; height:36px; background:url(../images/active_label.png); line-height:32px; font-size:20px; text-align:center; color:#fff; position:absolute; top:9px; left:-7px;}
.active_list ul li .active_fot .active_btn{ position:absolute; bottom:15px; right:15px; display:none;}
.active_list ul li .active_fot .active_btn a:link,.active_list ul li .active_fot .active_btn a:visited {color:#7f7f7f; width:118px; height:28px; background:#fff; border:2px solid #7f7f7f; text-align:center; display:inline-block; font-size:16px; line-height:28px; border-radius:6px;}
.active_list ul li .active_fot .active_btn a:hover,.active_list ul li .active_fot .active_btn a:active {color:#f54c4c;}
/*专题页*/
.active_list ul li .special_fot{ width:100%; height:50px; position:relative;}
.active_list ul li .special_fot .special_txt{ padding:10px 20px 0; font-size:24px;  color:#1f1e1e; height:30px; line-height:30px; overflow:hidden;}
.active_list ul li .special_date{ font-size:18px; color:#434343; font-family:"黑体"; position:absolute; top:16px; right:20px;}
.active_list ul li .special_icon{ position:absolute; bottom:16px; right:20px; display:none;}
.active_list ul li .special_icon a{ width:25px; height:25px; display:inline-block; margin-left:5px;}
/*论坛*/
.forum_list{}
.forum_list ul{ padding:0 20px;}
.forum_list ul li{ padding:20px 0 20px 55px; border-bottom:1px solid #dcdcdc; position:relative;}
.forum_list ul li .forum_user_phone{ position:absolute; top:20px; left:0; width:46px; height:46px;}
.forum_list ul li .forum_user_phone img{ width:46px; height:46px; border-radius:23px;}
.forum_list ul li h2{ font-family:"黑体"; font-size:24px; color:#000; line-height:30px; font-weight:normal;}
.forum_list ul li .forum_date{ font-size:12px; color:#bbb; line-height:18px; padding:5px 0;}
.forum_list ul li .forum_date span{ padding-right:10px;}
.forum_list ul li p{ font-size:14px; line-height:24px; color:#434343;}
.forum_list ul li .forum_fot{ width:100%; height:25px; position:relative;}
.forum_list ul li .forum_fot .forum_fot_btn{ height:24px; line-height:24px; position:absolute; top:0; right:0; display:block; 	}
.forum_list ul li .forum_fot .forum_fot_btn a:link,.forum_list ul li .forum_fot .forum_fot_btn a:visited {color:#fff; height:24px; line-height:24px; font-size:14px; padding:0 10px; display:inline-block; background:#f65c5c; }
.forum_list ul li .forum_fot .forum_fot_btn a:hover,.forum_list ul li .forum_fot .forum_fot_btn a:active {color:#fff; background:#ee5858;}
.forum_list ul li .forum_fot .forum_icon{ position:absolute; top:0; right:0;}
.forum_list ul li .forum_fot .forum_icon a{ width:25px; height:25px; display:inline-block; margin-right:5px; display:inline-block;}
/*论坛详情*/
.forum_detail{}
.forum_detail_title{ padding-left:60px; height:60px; position:relative;}
.forum_detail_title .user_phone{ width:46px; height:46px; position:absolute; top:10px; left:0px;}
.forum_detail_title .user_phone img{ width:46px; height:46px; border-radius:23px;}
.forum_detail_title h2{ font-family:"黑体"; font-size:24px; color:#000; line-height:30px; font-weight:normal;}
.forum_detail_title .forum_date{ font-size:12px; color:#bbb; line-height:18px; padding:5px 0;}
.forum_detail_title .forum_date span{ padding-right:10px;}
.forum_detail_content{ padding:20px 0;}
.forum_detail .comment_fot_btn{}
.forum_detail_fot{ position:relative; font-size:14px; height:22px;}
.forum_detail_fot_le{ position:absolute; top:0; left:0; }
.forum_detail_fot a:link,.forum_detail_fot a:visited {color:#777;  display:inline-block; float:left; height:22px; margin-left:5px; line-height:32px;  }
.forum_detail_fot a:hover,.forum_detail_fot a:active {color:#f54c4c;}
.forum_detail_fot_ri{ position:absolute; top:0; right:0;}
/*我的订阅*/
.subscribe{ width:100%; height:auto;}
.subscribe_tab{ width:685px; height:auto; overflow:hidden;}
.subscribe_tab ul{ width:686px;}
.subscribe_tab ul li{ width:50%; height:36px; line-height:36px; border-top:4px solid #e3e3e3; text-align:center; font-size:20px; font-family:"黑体"; cursor:pointer; color:#484747; float:left; background:#f7f7f7;}
.subscribe_tab ul li.cur{ background:#fff; border-top:4px solid #f54c4c; color:#f54c4c;}
.subscribe_list{ width:100%; height:auto;}
.subscribe_list ul{ width:730px;}
.subscribe_list ul li{ width:214px; height:204px; float:left; margin:25px 21px 0 0; float:left; position:relative;}
.subscribe_list ul li .subscribe_pic{ width:214px; height:136px;}
.subscribe_list ul li .subscribe_pic img{ width:214px; height:214px;}
.subscribe_list ul li .subscribe_pic .dele_icon{ width:20px; height:20px; background:url(../images/dele_icon.png) no-repeat; top:5px; right:5px; cursor:pointer; z-index:51; position:absolute;}
.subscribe_list ul li .subscribe_pic .add_icon{ width:20px; height:20px; background:url(../images/add_icon.png) no-repeat; top:5px; right:5px; cursor:pointer; z-index:51; position:absolute;}
.subscribe_list ul li .subscribe_pic .select_subscrib{ width:20px; height:20px; background:url(../images/selected_icon.png) no-repeat; top:5px; right:5px; cursor:pointer; z-index:51; position:absolute;}
.subscribe_list ul li .subscribe_name{ width:100%; height:36px; line-height:36px; text-align:center; font-size:14px; font-weight:600; color:#3f3f3f; text-align:center; overflow:hidden;}
.subscribe_list ul li .subscribe_fot{ width:100%; height:32px; line-height:32px; font-size:12px; background:#ececec; text-align:center; overflow:hidden; position:relative;}
.subscribe_list ul li .subscribe_fot .star{ width:32px; height:32px; position:absolute; bottom:0; right:5px; cursor:pointer; background:url(../images/star_gray.png) no-repeat; z-index:51;}
.subscribe_list ul li .subscribe_fot .star.cur{ background:url(../images/fot_collect_side_icon2.png) no-repeat;}
.subscribe_list ul li a{ width:214px; height:204px; display:inline-block; position:absolute; top:0; left:0; z-index:50;}
/*
.subscribe_list ul li .subscribe_fot{ width:100%; height:32px; line-height:32px; font-size:12px; text-align:center; overflow:hidden; position:relative;}
.subscribe_list ul li .subscribe_fot .star{ width:32px; height:32px; position:absolute; bottom:0; right:5px; cursor:pointer; background:url(../images/star_gray.png) no-repeat; z-index:51;}
.subscribe_list ul li .subscribe_fot .star.cur{ background:url(../images/fot_collect_side_icon2.png) no-repeat;}
*/
/*我的收藏*/
.myCollecct{ width:100%; height:auto;}
.myCollecct_tab{}
.myCollecct_tab ul{}
.myCollecct_tab ul li{ width:50%; height:36px; line-height:36px; border-top:4px solid #e3e3e3; text-align:center; font-size:20px; font-family:"黑体"; cursor:pointer; color:#484747; float:left; background:#f7f7f7;}
.myCollecct_tab ul li.cur{ background:#fff; border-top:4px solid #f54c4c; color:#f54c4c;}
.myCollect_list{ width:100%; height:auto;}
.myCollect_list ul{ }
.myCollect_list ul li{clear:both; position:relative; padding-bottom:20px; border-bottom:1px solid #dcdcdc; margin-top:20px; overflow:hidden;}
.article_pic{ width:210px; height:135px; float:left; margin-right:20px; display:inline-block;}
.article_pic img{ width:210px; height:135px;}
.article_con{ float:left; width:450px; height:135px; position:relative;}
.article_con h2{ font-family:"黑体"; font-size:24px; font-weight:normal; line-height:30px;}
.article_con h2 a:link,.article_con h2 a:visited {color:#1f1e1e;}
.article_con h2 a:hover,.article_con h2 a:active {color:#f54c4c;}
.article_con .article_fot{ position:absolute; bottom:0; left:0; width:100%; height:35px; line-height:35px;}
.article_con .article_fot span{ height:35px; line-height:35px; padding:0 15px; background:#f54c4c; color:#fff; font-size:20px; float:left; font-family:"黑体";}
.article_con .article_fot font{ line-height:35px; font-size:14px; color:#434343;}
.article_con .article_fot .star{ width:22px; height:22px; position:absolute; bottom:0; right:0; cursor:pointer; background:url(../images/star_gray.png) no-repeat;}
.article_con .article_fot .star.cur{ background:url(../images/fot_collect_side_icon2.png) no-repeat;}
.post{ padding-left:20px; position:relative;}
.post .post_icon{ width:6px; height:16px; background:#f54c4c; position:absolute; top:5px; left:5px;}
.post h2{ font-family:"黑体"; font-size:24px; font-weight:normal; line-height:30px;}
.post h2 a:link,.post h2 a:visited {color:#1f1e1e;}
.post h2 a:hover,.post h2 a:active {color:#f54c4c;}
.post .post_fot{ width:100%; height:35px; line-height:35px; margin-top:5px;}
.post .post_fot span{ height:35px; line-height:35px; color:#434343; font-size:18px; float:left; font-family:"黑体";}
.post .post_fot font{ line-height:35px; font-size:14px; color:#434343; margin-left:20px;}
.post .post_fot .star{ width:32px; height:32px; position:absolute; bottom:0; right:0; cursor:pointer; background:url(../images/star_gray.png) no-repeat;}
.post .post_fot .star.cur{ background:url(../images/fot_collect_side_icon2.png) no-repeat;}
/*专题详情页*/
.specialDetail{}
.specialDetail .specialBannar{ width:683px; height:auto; background:#eee; border:1px solid #afafaf;}
.specialDetail .specialBannar img{ width:683px; height:298px;}
.specialDetail .specialBannar .special_banner_txt{ padding:10px; font-family:"黑体"; color:#1f1e1e; font-size:24px;}
.specialDetail .special_tab_menu{ width:100%; height:auto; overflow:hidden;}
.specialDetail .special_tab_menu ul{ width:687px;}
.specialDetail .special_tab_menu ul li{ width:229px; height:41px; line-height:41px; border-top:4px solid #e3e3e3; text-align:center; font-size:20px; font-family:"黑体"; cursor:pointer; color:#484747; float:left; background:#f7f7f7;}
.specialDetail .special_tab_menu ul li.cur{ background:#fff; border-top:4px solid #f54c4c; color:#f54c4c;}
/*组图*/
.group_pic{ margin-top:20px; padding-bottom:20px; border-bottom:1px solid #dcdcdc; position:relative; width:100%; overflow:hidden;}
.group_pic h2{ font-family:"黑体"; font-size:24px; font-weight:normal; line-height:30px;}
.group_pic h2 a:link,.group_pic h2 a:visited {color:#1f1e1e;}
.group_pic h2 a:hover,.group_pic h2 a:active {color:#f54c4c;}
.group_pic .group_list{ width:720px; height:auto;}
.group_pic .group_list span{ float:left; margin:20px 20px 0 0; width:158px; height:122px;}
.group_pic .group_list span img{ width:158px; height:122px;}
.group_pic .group_list_footer{ width:100%; height:25px; line-height:25px; position:relative;}
.group_pic .group_list_footer label{ width:54px; height:25px; background:#f54c4c; line-height:25px; text-align:center; font-size:18px; font-family:"黑体"; color:#fff; display:inline-block;}
.group_pic .group_list_footer font{ line-height:25px; font-size:14px; color:#434343; padding:0 10px; display:inline-block;}
.group_pic .group_list_footer .share_box{ position:absolute; top:0; right:0;}
.group_pic .group_list_footer .share_box a{ float:left; margin-left:10px; display:inline-block;}
/*搜索详情页*/
.search_detail_title{ width:100%; height:40px; background:#f0f0f0; border-bottom:3px solid #f54c4c; position:relative; font-size:20px; font-family:"黑体"; color:#333; line-height:40px;}
.search_detail_title font{ color:#f54c4c;}
.search_detail_title .search_select1_bg{width:114px; height:28px; position:absolute; top:6px; right:10px; font-family:"黑体"; font-size:14px;}
.search_detail_title .search_select1_bg .search_select{ width:84px; padding:0 20px 0 10px; height:28px; line-height:28px; background:url(../images/search_arrow_gray.png) no-repeat 95px 10px #fff; color:#333; cursor:pointer;}
.search_detail_title .search_select1_bg .search_list{z-index:100; width:112px; height:auto; background:#fff; border:1px solid #c2c2c2; position:absolute; top:28px; left:0; }
.search_detail_title .search_select1_bg .search_list a:link,.search_detail_title .search_select1_bg .search_list a:visited {color:#a0a0a0; width:100px; height:30px; line-height:30px; padding:0 6px; display:inline-block;}
.search_detail_title .search_select1_bg .search_list a:hover,.search_detail_title .search_select1_bg .search_list a:active {color:#4e4e4e; background:#dadada;}
.search_detail_title .search_select2_bg{width:114px; height:28px; position:absolute; top:6px; right:134px; font-family:"黑体"; font-size:14px;}
.search_detail_title .search_select2_bg .search_select{ width:84px; padding:0 20px 0 10px; height:28px; line-height:28px; background:url(../images/search_arrow_gray.png) no-repeat 95px 10px #fff; color:#333; cursor:pointer;}
.search_detail_title .search_select2_bg .search_list{ width:112px; height:auto; background:#fff; border:1px solid #c2c2c2; position:absolute; top:28px; left:0; z-index:100;}
.search_detail_title .search_select2_bg .search_list a:link,.search_detail_title .search_select2_bg .search_list a:visited {color:#a0a0a0; width:100px; height:30px; line-height:30px; padding:0 6px; display:inline-block;}
.search_detail_title .search_select2_bg .search_list a:hover,.search_detail_title .search_select2_bg .search_list a:active {color:#4e4e4e; background:#dadada;}
.search_arrow_red{ width:11px; height:5px; background:url(../images/search_arrow_red.png) no-repeat; position:absolute; top:43px; left:346px;}
.search_detail_list{}
.search_detail_list ul{}
.search_detail_list ul li{ width:100%; height:auto; padding-bottom:10px; position:relative; border-bottom:1px solid #cfcfcf; margin-top:20px;}
.search_detail_list ul li h2{ font-family:"黑体"; font-size:24px; font-weight:normal; line-height:30px;}
.search_detail_list ul li h2 a:link,.search_detail_list ul li h2 a:visited {color:#1f1e1e;}
.search_detail_list ul li h2 a:hover,.search_detail_list ul li h2 a:active {color:#f54c4c;}
.search_detail_list ul li p{ font-size:14px; color:#434343; line-height:25px; padding:10px 0;}
.search_detail_list ul li .search_detail_fot{ width:100%; height:25px; line-height:25px; text-align:right; font-size:14px; color:#434343;}
/*组图*/
.group_box{}
.group_title{ font-family:"黑体"; font-size:24px; color:#1f1e1e; line-height:30px;}
.group_date{ font-size:14px; padding:10px 0; color:#434343;}
.group_date span{ padding-right:10px;}
.group_box .group_pic_box{ width:640px; height:auto; margin:20px auto 0; position:relative;}
.group_box .group_pic_box .group_big_pic{ text-align:center; position:relative; width:640px; height:430px; text-align:center;background:#3c3c3c none repeat scroll 0 0;}
.group_box .group_pic_box .group_big_pic img{max-width:640px; max-height:430px; text-align:center;}
.group_box .group_pic_box .group_big_pic .left_btn{ width:320px; height:430px; position:absolute; top:0; left:0;}
.group_box .group_pic_box .group_big_pic .left_btn a:link,.group_box .group_pic_box .group_big_pic .left_btn a:visited { width:320px; height:430px; display:inline-block; background:url(../images/hover_bg.png) repeat;}
.group_box .group_pic_box .group_big_pic .left_btn a:hover,.group_box .group_pic_box .group_big_pic .left_btn a:active { background:url(../images/left_bt.png) no-repeat center center;filter:alpha(opacity=80); /*IE滤镜，透明度80%*/
-moz-opacity:0.8; /*Firefox私有，透明度50%*/
opacity:0.8;/*其他，透明度50%*/}
.group_box .group_pic_box .group_big_pic .right_btn{ width:320px; height:430px; position:absolute; top:0; right:0;}
.group_box .group_pic_box .group_big_pic .right_btn a:link,.group_box .group_pic_box .group_big_pic .right_btn a:visited { width:320px; height:430px; display:inline-block; background:url(../images/hover_bg.png) repeat;}
.group_box .group_pic_box .group_big_pic .right_btn a:hover,.group_box .group_pic_box .group_big_pic .right_btn a:active { background:url(../images/right_bt.png) no-repeat center center;filter:alpha(opacity=80); /*IE滤镜，透明度80%*/
-moz-opacity:0.8; /*Firefox私有，透明度50%*/
opacity:0.8;/*其他，透明度50%*/}
.group_box .group_pic_box .group_big_pic img{max-width:640px; max-height:430px;}
.group_box .group_pic_box .group_pic_txt{ padding:20px 0 20px 90px; height:74px; overflow:hidden; position:relative; font-size:14px; color:#434343; line-height:25px;}
.group_box .group_pic_box .group_pic_num{ position:absolute; top:22px; left:10px;  font-family:"黑体"; font-size:26px;}
.group_box .group_pic_box .group_pic_txt p{ height:75px; line-height:25px; overflow:hidden;}
.group_box .group_pic_box .group_pic_list{ width:640px; height:98px; margin:0 auto; overflow:hidden;}
.group_box .group_pic_box .group_pic_list ul{}
.group_box .group_pic_box .group_pic_list ul li{ width:146px; height:94px; border:2px solid #7d7c7c; float:left; margin-right:12px; cursor:pointer; position:relative;}
.group_box .group_pic_box .group_pic_list ul li .img_gray_bg{width:146px; height:94px; background:rgba(0,0,0,0.5); position:absolute; top:0; left:0; z-index:99; }
.group_box .group_pic_box .group_pic_list ul li.cur{ border:2px solid #f54c4c;}
.group_box .group_pic_box .group_pic_list ul li img{ width:146px; height:94px;}
.group_box .group_pic_box .group_arrow_left{ position:absolute; top:568px; left:-40px; width:50px; height:50px; }
.group_box .group_pic_box .group_arrow_left a:link,.group_box .group_pic_box .group_arrow_left a:visited { width:50px; height:50px; background:url(../images/group_arrow_left.png) no-repeat center center; display:inline-block;}
.group_box .group_pic_box .group_arrow_left a:hover,.group_box .group_pic_box .group_arrow_left a:active { background:url(../images/group_arrow_left.png) no-repeat center center;}
.group_box .group_pic_box .group_arrow_right{ position:absolute; top:568px; right:-40px; width:50px; height:50px; }
.group_box .group_pic_box .group_arrow_right a:link,.group_box .group_pic_box .group_arrow_right a:visited { width:50px; height:50px; background:url(../images/group_arrow_right.png) no-repeat center center; display:inline-block;}
.group_box .group_pic_box .group_arrow_right a:hover,.group_box .group_pic_box .group_arrow_right a:active { background:url(../images/group_arrow_right.png) no-repeat center center;}
/*返回顶部*/
.return_top{ width:36px; height:36px; position:fixed; bottom:157px; }
.return_top a:link,.return_top a:visited { width:36px; height:36px; background:url(../images/return_icon.png) no-repeat ; display:inline-block;}
.return_top a:hover,.return_top a:active { background:url(../images/return_icon.png) no-repeat 0 -36px;}
/*写论坛按钮*/
.forum_icon_side{ width:36px; height:36px; position:fixed; bottom:199px;}
.forum_icon_side a:link,.forum_icon_side a:visited { width:36px; height:36px; background:url(../images/forum_icon.png) no-repeat ; display:inline-block;}
.forum_icon_side a:hover,.forum_icon_side a:active { background:url(../images/forum_icon.png) no-repeat 0 -36px;}
/*写论坛*/
.forum_write{ padding-left:60px; position:relative;}
.forum_write_user{ width:46px; height:46px; position:absolute; top:20px; left:0;}
.forum_write_user img{ width:46px; height:46px; border-radius:23px;}
.forum_write input{ line-height:28px; height:28px; padding:5px; font-size:14px; color:#777; width:628px; border:1px solid #d3d3d3; margin-top:20px;}
.forum_write textarea{  padding:5px; font-size:14px; color:#777; width:628px; border:1px solid #d3d3d3; margin-top:20px; line-height:20px; height:140px;}
.forum_write .forum_write_fot{ width:100%; height:25px; position:relative;}
.forum_write .forum_write_fot .comment_blow_box{ float:left !important;}
.forum_write .forum_write_fot .comment_blow_box .comment_blow_show{ left:0 !important;}
.forum_write .forum_pic{ float:left; width:22px; height:22px; margin:2px 0 0 0; display:inline;}
.forum_write .forum_btn_red{ width:54px; height:25px; float:right; margin-right:10px; display:inline;}
.forum_write .forum_btn_red a:link,.forum_write .forum_btn_red a:visited { width:54px; height:25px; background:#f65c5c; line-height:25px; text-align:center; color:#fff; display:inline-block;}
.forum_write .forum_btn_red a:hover,.forum_write .forum_btn_red a:active { background:#e95555; color:#fff;}
.forum_write .forum_btn_gray{ width:54px; height:25px; float:right; display:inline;}
.forum_write .forum_btn_gray a:link,.forum_write .forum_btn_gray a:visited { width:54px; height:25px; background:#b3b3b3; line-height:25px; text-align:center; color:#fff; display:inline-block;}
.forum_write .forum_btn_gray a:hover,.forum_write .forum_btn_gray a:active { background:#aaa9a9; color:#fff;}
/*菜单更多*/
.menu_more_box{ position:relative; float:left; z-index:20;}
.more_box{ width:370px; position:absolute; top:38px; left:-85px; padding-bottom:10px; overflow:hidden; display:none;}
.more_box .more_arrow_icon{ width:20px; height:22px; background: url(../images/more_arrow_icon.png) no-repeat; position:absolute; top:1px; left:136px;}
.more_box .more_box_list{ width:338px; height:auto; border:1px solid #d0d0d0; background:#fbfbfb; padding:20px 0 20px 30px; margin-top:22px;}
.more_box .more_box_list table{ width:100%; height:auto;}
.more_box .more_box_list table tr{}
.more_box .more_box_list table tr td{ padding:5px 0; width:149px }
.more_box a:link,.more_box a:visited { padding:0 10px; height:24px; line-height:24px; color:#484747; display:inline-block; font-size:18px; font-family:"黑体"}
.more_box a:hover,.more_box a:active { background:#f66f6f; color:#fff;}
.more_box a.cur { background:#f66f6f; color:#fff;}
/*新闻详情 2015-05-15*/
.newsDetail_extend{ padding:10px 0;}
.newsDetail_extend ul{}
.newsDetail_extend ul li{ width:100%; height:auto; margin-top:10px;}
.newsDetail_extend ul li .extend_title{ width:100%; height:26px; line-height:26px; background:url(../images/newsDetail_line.png) repeat-x 0 13px;}
.newsDetail_extend ul li .extend_title font{ width:96px; text-align:center; line-height:26px; font-size:14px; background:#fff; border:1px solid #f54c4c
; display:inline-block; color:#f54c4c;}
.newsDetail_extend ul li .extend_title font.blue{ width:96px; text-align:center; line-height:26px; font-size:14px; background:#fff; border:1px solid #486de3
; display:inline-block; color:#486de3;}
.newsDetail_extend ul li p{ line-height:25px; color:#434343; }
.newsDetail_extend ul li p a{ width:466px; line-height:25px; display:inline-block; height:25px;}
.newsDetail_extend ul li .extend_link{ padding-bottom:10px;}
/*分享*/
.share_box_colum{ width:36px; height:auto; position:fixed; bottom:62px;}
.share_box_colum a{ width:36px; height:36px; margin-top:5px; display:inline-block;}
/*加载更多*/
.loading_btn{ width:166px; height:38px; margin:20px auto 0;}
.loading_btn a:link,.loading_btn a:visited {color:#414141; width:166px; height:38px; line-height:38px; text-align:center; display:inline-block; background:#f0f0f0; border:2px solid #e3e3e3; font-size:21px;font-family:"黑体"; display:inline-block; border-radius:28px; }
.loading_btn a:hover,.loading_btn a:active {color:#414141; background:#eae5e5; border:2px solid #e3e3e3;}
.forum_detail_pic{ width:100%; height:auto; text-align:center; overflow:hidden;}
.forum_detail_pic img{ width:220px; height:auto; float:left; margin-right:10px; }
.forum_detail_content p{ padding-top:10px; line-height:25px; font-size:14px; color:#434343;}
.forum_list_img{ float:right; width:180px; height:128px;}
.forum_list_img img{ width:180px; height:128px;}
/*分享按钮*/
.share_favour_icon{}
.share_favour_icon a:link,.share_favour_icon a:visited { width:36px; height:36px; background:url(../images/side_icon1.png) no-repeat 0 -36px; display:inline-block;}
.share_favour_icon a:hover,.share_favour_icon a:active { background:url(../images/side_icon1.png) no-repeat 0 -72px;}

.share_favour_icon{}
.share_favour_icon a:link,.share_favour_icon a:visited { width:36px; height:36px; background:url(../images/side_icon1.png) no-repeat 0 -36px; display:inline-block;}
.share_favour_icon a:hover,.share_favour_icon a:active { background:url(../images/side_icon1.png) no-repeat 0 -72px;}


.share_favour_icon{}
.share_favour_icon a:link,.share_favour_icon a:visited { width:36px; height:36px; background:url(../images/side_icon1.png) no-repeat 0 -36px; display:inline-block;}
.share_favour_icon a:hover,.share_favour_icon a:active { background:url(../images/side_icon1.png) no-repeat 0 -72px;}


.share_collect_icon{}
.share_collect_icon a:link,.share_collect_icon a:visited { width:36px; height:36px; background:url(../images/side_icon2.png) no-repeat 0 -36px; display:inline-block;}
.share_collect_icon a:hover,.share_collect_icon a:active { background:url(../images/side_icon2.png) no-repeat 0 -72px;}
.share_comment_icon{}
.share_comment_icon a:link,.share_comment_icon a:visited { width:36px; height:36px; background:url(../images/side_icon3.png) no-repeat ; display:inline-block;}
.share_comment_icon a:hover,.share_comment_icon a:active { background:url(../images/side_icon3.png) no-repeat 0 -36px;}
.share_sina_icon{}
.share_sina_icon a:link,.share_sina_icon a:visited { width:36px; height:36px; background:url(../images/side_icon4.png) no-repeat ; display:inline-block;}
.share_sina_icon a:hover,.share_sina_icon a:active { background:url(../images/side_icon4.png) no-repeat 0 -36px;}
.share_weixin_icon{}
.share_weixin_icon a:link,.share_weixin_icon a:visited { width:36px; height:36px; background:url(../images/side_icon5.png) no-repeat ; display:inline-block;}
.share_weixin_icon a:hover,.share_weixin_icon a:active { background:url(../images/side_icon5.png) no-repeat 0 -36px;}
.share_qqWeb_icon{}
.share_qqWeb_icon a:link,.share_qqWeb_icon a:visited { width:36px; height:36px; background:url(../images/side_icon6.png) no-repeat ; display:inline-block;}
.share_qqWeb_icon a:hover,.share_qqWeb_icon a:active { background:url(../images/side_icon6.png) no-repeat 0 -36px;}
.share_renren_icon{}
.share_renren_icon a:link,.share_renren_icon a:visited { width:36px; height:36px; background:url(../images/side_icon7.png) no-repeat ; display:inline-block;}
.share_renren_icon a:hover,.share_renren_icon a:active { background:url(../images/side_icon7.png) no-repeat 0 -36px;}
.share_douban_icon{}
.share_douban_icon a:link,.share_douban_icon a:visited { width:36px; height:36px; background:url(../images/side_icon8.png) no-repeat ; display:inline-block;}
.share_douban_icon a:hover,.share_douban_icon a:active { background:url(../images/side_icon8.png) no-repeat 0 -36px;}
.share_qq_icon{}
.share_qq_icon a:link,.share_qq_icon a:visited { width:36px; height:36px; background:url(../images/side_icon9.png) no-repeat ; display:inline-block;}
.share_qq_icon a:hover,.share_qq_icon a:active { background:url(../images/side_icon9.png) no-repeat 0 -36px;}
.right_item_footer_no{ width:100%; height:25px; line-height:25px; position:relative !important; bottom:0px;right:0; margin-top:5px;}
/*zhaiyao*/
.summary{ padding:15px; background:#ededed; line-height:18px;  font-size:12px; color:#777;}
.summary font{color:#434343; font-family:"楷体"; font-size:14px; line-height:1.5em;}
.gray{color:#C0C0C0 !important;}/*灰色*/
.sort_num_icon_gray.cur{top:16px;}
.sort_num_icon_red.cur{top:16px;}

/*直播*/
.live{ width:100%; height:auto;}
.live_bannar{ width:100%; height:351px;}
.live_bannar img{ width:100%; height:351px;}
.live_tab{}
.live_tab ul{}
.live_tab ul li{ width:50%; height:36px; line-height:36px; border-top:4px solid #e3e3e3; text-align:center; font-size:20px; font-family:"黑体"; cursor:pointer; color:#484747; float:left; background:#f7f7f7;}
.live_tab ul li.cur{ background:#fff; border-top:4px solid #f54c4c; color:#f54c4c;}
.live_list_item{ width:100%; height:auto;}
.live_list{ padding-left:114px; background:url(../images/play_line_bg.png) repeat-y 110px 0;  }
.live_list li{ position:relative; padding-bottom:20px; border-bottom:1px solid #e0e0e1; margin-top:20px;}
.live_list li .live_time{ position:absolute; width:126px; height:26px; top:1px; left:-90px; font-size:16px; color:#434343; font-family:"黑体"; line-height:24px;}
.live_list li .live_point{ position:absolute; width:28px; height:26px; background:url(../images/play_point.png) no-repeat; top:0; left:-15px;}
.live_list li p{ font-size:16px; color:#434343; line-height:24px; padding-left:30px;}
.live_list li .img_box{ width:200px; height:auto; margin:15px 0 0 30px;}
.live_list li .img_box img{ width:200px; height:auto;}
.live_list li .img_box a.hover{cursor:url(../images/cursor_zoom.cur), pointer}
.live_list li .big_pic{ width:518px !important;}
.live_list li .big_pic img{ width:518px !important;}
.live_list li .big_pic a.hover{cursor:url(../images/cursor_minify.cur), pointer !important}
.live_comment_box{ padding:20px 10px; border:1px solid #d9d9d9; border-radius:10px; font-size:14px; color:#777; position:relative;}
.live_comment_box .live_comment_arrow{ width:16px; height:8px; background:url(../images/live_comment_arrow.png) no-repeat; position:absolute; top:-8px; left:20px;}
/*表格*/
.news_detail_content table{ width:100%; border:1px solid #666 !important;}
.news_detail_content table tr th{ border-right:1px solid #666; border-bottom:1px solid #666; text-align:center;}
.news_detail_content table tr td{ border-right:1px solid #666; border-bottom:1px solid #666; text-align:center;}