@charset "utf-8";
.fl{
	float:center;
}

.dd{
	clear:both;
	margin:7px 0;
	width:100%;
	height:15px;
}
.outbar{
	border:1px solid #dedede;
	background:#fff;
	height:13px;
	width:50%;
	float:left;
}
.inbar{
	height:13px;
	display:block;
}